<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>

  <div class="first">
    <div class="first__show-menu" id="show-block">
      <a class="first__button-close" id="hide" href="#"><img src="images/button-close.svg" alt="button-close"></a>
      <div class="first__vertical-menu">
        <h3>Menu</h3>
        <a href="#">Life Insurance</a>
        <a href="#">Car Insurance</a>
        <a href="#">Investing</a>
        <a href="#">Build Credit</a>
      </div>
    </div>
  </div>

  <section class="top-menu">
    <div class="container">
      <div class="top-menu__flex">
            <div class="top-menu__image">
              <a href="#"><img src="images/wallet-green.svg" alt="wallet"></a>
            </div>
            <div class="top-menu__links">
              <ul>
                <li><a href="#">Life Insurance</a></li>
                <li><a href="#">Car Insurance</a></li>
                <li><a href="#">Investing</a></li>
                <li><a href="#">Build Credit</a></li>
              </ul>
            </div>
            <div class="top-menu__button-show">
              <a id="show" href="#"><img src="images/button-more.svg" alt="button-more"></a>
            </div>
      </div>
    </div>
  </section>

  <section class="find">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <div class="find__text">
            <h4>How to Find the Best Savings Accounts</h4>
            <p>Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.</p>
            <a class="find__button" href="#">Read More</a>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="find__image">
            <img src="images/find-bg.svg" alt="happy-people">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="compare-options">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Easily compare all of your options</h2>
        </div>
      </div>
      <div class="options text-center">
        <div class="row">
          {{#each option}}
          <div class="col-md-3 col-sm-12">
              <div class="options__option-box">
                <img src="{{image}}"alt="">
                <p>{{name}}</p>
              </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <section class="popular">
    <div class="container">
      <h2 class="popular__start">Popular post</h2>

      <div class="row">
        {{#each popular-two}}
          <div class="col-md-6">
            <div class="popular__two-box" style="background-image: url('{{image}}')">
            </div>
            <div class="popular__two-caption">
              <p>By <a href="#">{{wallet}}</a>{{two-caption}}</p>
              <h2><a href="#">{{header}}</a></h2>
            </div>
          </div>
        {{/each}}
      </div>

      <div class="row">
        {{#each popular-three}}
          <div class="col-md-4 col-sm-12">
            <div class="popular__three-box" style="background-image: url('{{image}}')">
            </div>
            <div class="popular__three-caption">
              <p>By <a href="#">{{wallet}}</a>{{two-caption}}</p>
              <h2><a href="#">{{header}}</a></h2>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="start-today">
    <div class="container">
      <div class="start-today__background">
        <div class="start-today__content">
          <h1>START BUILDING TODAY</h1>
          <h2>Build Your Credit History & Save Money.</h2>
          <a class="find__button-light" href="#">CTA</a>
        </div>
      </div>
    </div>
  </section>

  <section class="save-money">
    <div class="container">
      <h2 class="popular__start">Save Money</h2>

      <div class="row">
        {{#each save-money}}
          <div class="col-xl-6 col-md-12">
            <div class="save-money__main-box">
              <div class="save-money__box" style="background-image: url('{{image}}')">
              </div>
              <div class="save-money__content">
                <p>By <a href="#">{{wallet}}</a>{{two-caption}}</p>
                <h2><a href="#">{{header}}</a></h2>
              </div>
            </div>
            </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="life-guides">
    <div class="container">
      <h2 class="popular__start">Life Guides</h2>

      <div class="row">
        {{#each life-guides}}
          <div class="col-md-4">
            <div class="life-guides__three-box" style="background-image: url('{{image}}')">
            </div>
            <div class="popular__three-caption">
              <p>By <a class="popular__href-text" href="#">{{wallet}}</a>{{two-caption}}</p>
              <h2><a href="#">{{header}}</a></h2>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="make-money">
    <div class="container">
      <h2 class="popular__start">Make Money</h2>

      <div class="row">
        {{#each make-money}}
          <div class="col-md-6">
            <div class="popular__two-box" style="background-image: url('{{image}}')">
            </div>
            <div class="popular__two-caption">
              <p>By <a href="#">{{wallet}}</a>{{two-caption}}</p>
              <h2><a href="#">{{header}}</a></h2>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="joy">
    <div class="container">
      <div class="joy__content">
        <h2>Find joy in your inbox.</h2>
        <p>Exclusive promotions, rewards and insights on the journey to financial freedom. Earn & save more today.</p>
        <div class="joy__buttons">
          <input class="joy__input" type="email" placeholder="Enter your phone Email" required>
          <a class="find__button" href="#">Submit</a>
        </div>
      </div>
    </div>`
  </section>

  <section class="footer">
    <div class="container">
      <div class="footer__row">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <a href="#"><img src="images/footer/wallet-white.svg" alt="wallet-white"></a>
            <p>Short description about the company Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s.</p>
            <div class="footer__social-media">
              <a href="#"><img src="images/footer/facebook.svg" alt="facebook"></a>
              <a href="#"><img src="images/footer/twitter.svg" alt="twitter"></a>
              <a href="#"><img src="images/footer/pinterest.svg" alt="pinterest"></a>
              <a href="#"><img src="images/footer/linked_in.svg" alt="linked_in"></a>
            </div>
          </div>

          {{#each links}}
            <div class="col-md-3 col-sm-6">
              <div class="footer__block-links">
                <h3>{{header}}</h3>
                <ul>
                  <li><a href="#">{{li-one}}</a></li>
                  <li><a href="#">{{li-two}}</a></li>
                  <li><a href="#">{{li-three}}</a></li>
                  <li><a href="#">{{li-four}}</a></li>
                </ul>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="footer__line"></div>
      <h2>© 2020 Wallet Saver</h2>
    </div>
  </section>

</body>
</html>
